.graphModeSelector {
    left: 300px;
    margin-left: 300px;
    /* used to separate parameters from graphs */
    overflow-y: scroll;
    /* border-bottom: 1px solid rgb(151, 151, 151); */
}

.graphBtn {
    width: 250px;
    border-radius: 0;
    height: 16vh;
}