.graphModeSelector {
    left: 20px;
    margin-left: 20px;
    /* used to separate parameters from graphs */
    overflow-y: scroll;
    /* border-bottom: 1px solid rgb(151, 151, 151); */
}

.graphBtn {
    width: 250px;
    border-radius: 0;
    height: 16vh;
}

canvas.chartjs-render-monitor {
    /* height: 43vh !important; */
    /* width: 52vw !important;
    margin-left: 280px; */
    margin-top: 12px;
}