body {
    overflow-y: hidden;
}

.leftBar {
    left: 0;
    width: 300px;
    border-right: 1px solid rgb(165, 165, 165);
    height: 100vh;
    padding: 30px;
    text-align: left;
    margin-right: 0;
    position: absolute;
}

h5 {
    font-size: 17px;
    margin-top: 7px;
}

#signoutBtn:hover {
    cursor: pointer;
}

.btnPanel {
    margin: 20px;
}

.IOBtn {
    width: 300px;
    margin: 10px;
    height: 60px;
    font-size: 20px;
}

.inputField {
    width: 180px;
    height: 40px;
    font-size: 22px;
    padding: 10px;
    text-align: center;
}