.paceModeSelector {
    left: 300px;
    margin-left: 300px;
    /* used to separate parameters from graphs */
    max-height: 90vh; 
    overflow-y: scroll;
    /* removed border bottom and set max-height to 90vh for scrollbar to work */
}

.paceBtn {
    width: 100%;
    border-radius: 0;
    height: 60px;
}